* {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: #222;
}
header{
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
}
.navigation {
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100vw;
  height: 60px;
  background-color: #44351f;
}

.logo {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  font-size: 1.2rem;

  & a {
    color: #ffffff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
  }
}

.nav-content {
  display: flex;
  column-gap: 2vw;
  position: absolute;
  top: 30%;
  right: 2%;
  padding: 0;

  & a {
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    position: relative;
  }
}

.nav-content a::before {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 2px;
  background: #fff;
}

.nav-content a:hover {
  color: #e9b356;
}

.nav-content a:hover::before {
  width: 100%;
  background: #e9b356;
}
.burger {
  display: block;
  position: absolute;
  top: 10px;
  right: 20px;
  opacity: 0;
}

.menu-panel {
  background-color: #222;
  color: white;
  height: 70%;
  width: 150px;
  position: fixed;
  top: 0;
  right: -100%;
  border-radius: 10px;
  transition: right 0.4s ease;
}

.menu-panel ul {
  list-style: none;
  padding: 50px 20px;
}

.menu-panel ul li {
  margin-bottom: 20px;
}

.menu-panel ul li a {
  color: white;
  text-decoration: none;
  font-size: 0.9rem;
}

.close-btn {
  background-color: transparent;
  color: white;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 20px;
}
section {
  background-color: #222;
  font-family: sans-serif;
  height: 100vh;
}

.home-container {
  display: grid;
  height: 100vh;
  grid-template-columns: repeat(2, 1fr);
  
}

.box {
  display: flex;
  flex-direction: column;
  padding: 10px;
  justify-content: center;
  align-items: center;
}

#home-pro-pic {
  height: 100vh;
}

#home-content {
    position: absolute;
      margin-top: 10%;
      padding: 20px;
}

.content {
  text-align: left;
  width: 50vw;
  margin-left: 15%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.hello {
  color: white;
}

.my-name {
  position: relative;
  top: 0;
  right: 12vw;
  width: fit-content;
  margin: 0 auto;
}
#my-name{
  
  position: relative;
  left: 0;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-size: 4rem;
  line-height: 4rem;
  color: white;
  margin: 0;
}
#my-name::before{
  
  content: attr(data-text);
  position: absolute;
  top:0;
  left:0;
  width: 30%;
  height: 100%;
  color: #e9b356;
  -webkit-text-stroke: 1px #e9b356;
  border-right: 2px solid #e9b356;
  overflow: hidden;
  animation: move 5s alternate ease-in-out infinite;
}
@keyframes move {
  0%{
    width: 0%;
  }
  100%{
    width: 47%;
  }
}
.my-desc {
  color: white;
  
}

.text {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  letter-spacing: 0.5px;
  animation:
    typing 5s steps(45) infinite,
    curser .4s step-end infinite alternate;
}

@keyframes cursor {
  50% {
    border-color: transparent;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
}


.links {
  margin-top: 5vh;
  width: 40vw;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  column-gap: 20px;
}

.links img {
  cursor: pointer;
  border-radius: 10px;
}

.links img:hover {
  box-shadow: 0 0 20px rgba(165, 228, 255, 0.67);
}

.button-cv {
  width: 40vw;
  margin-top: 5vh;
  align-items: center;
  display: flex;
  justify-content: flex-start;

}

.button-cv :hover {
  box-shadow: 0 0 10px rgba(157, 226, 255, 0.67);
}

.download-cv-btn {
  width: 20vw;
  height: 3vw;
  border-radius: 20px;
  background-color: #e4b86c;
  font-size: 15px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 700;
  cursor: pointer;
}

.profile-pic {
  width: 380px;
  height: 380px;
  border-radius: 50% 10%;
  border: #695229 solid 4px;

}

/*----------------------------------------------------------*/
@media (min-width:0px) and (max-width:320px) {
      .navigation {
          height: 8vw;
        }
      
        .nav-content {
          display: none;
        }
      
        .logo {
          font-size: 0.8rem;
        }
      
        .home-container {
          grid-template-columns: repeat(1, 1fr);
        }
      
        .profile-pic {
          width: 50vw;
          height: 50vw;
          margin-bottom: 80%;
        }
      
        .hello h3 {
          font-size: 1.2rem;
        }
        
        #my-name {
          font-size: 1.7rem;
          line-height: 1.7rem;
          
        }
        .my-desc{
          margin-left: -23px;
        }
        .text {
          font-size: 0.6rem;
        }
        #home-content {
          width: 88vw;
          padding-top: 250px;
          
        }
            .download-cv-btn{
          width: 150px;
          height: 30px;
          margin-left: -30px;
        }
        .burger {
          display: block;
          font-size: 0.9rem;
          color: #fff;
          opacity: 1;
          top: 5px;
          
        }
      
        .menu-panel.active {
          top: 5px;
          right: 10px;
          
      
        }
    }
@media (min-width:321px) and (max-width:375px) {
        .navigation {
            height: 8vw;
          }
        .nav-content {
          display: none;
        }
        .logo{
          font-size: 0.8rem;
        }
        .home-container{
          grid-template-columns: repeat(1, 1fr);
        }
        .profile-pic {
          width: 50vw;
          height: 50vw;
          margin-bottom: 50%;
        }
         .hello h3 {
          font-size: 1.2rem;
        }
    
        #my-name {
          font-size: 2rem;
          line-height: 2rem;
          
        }
        .my-desc{
          margin-left: -23px;
        }
        .text {
          font-size: 0.6rem;
        }
        #home-content {
          width: 90vw;
          padding-top: 300px;
          
        }
        .content {
          text-align: left;
          width: 50vw;
          margin-left: 100px;
          font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }
        .download-cv-btn{
          width: 170px;
          height: 30px;
          
        }
        .burger {
          display: block;
          font-size: 0.8rem;
          color: #fff;
          opacity: 1;
        }
      
        .menu-panel.active {
          right: 0;
      
        }
}
@media (min-width:376px) and (max-width:425px) {
  
  .navigation{
    height: 8vw;
  }
  .logo{
    font-size: 1rem;
  }
  .nav-content{
    display: none;
  }
  .home-container{
    grid-template-columns: repeat(1, 1fr);
  }
    .profile-pic {
      width: 48vw;
      height: 48vw;
      margin-bottom: 50%;
    }

        .hello h3 {
          font-size: 1.2rem;
        }
    
        #my-name {
          font-size: 2rem;
          line-height: 2rem;
          
        }
        .my-desc{
          margin-left: -23px;
        }
        .text {
          font-size: 0.6rem;
        }
        #home-content {
          margin: 0;
          padding: 0;
          width: 99vw;
          margin-top: 30px;
          padding-left: 10px;
          padding-top: 300px;
          
        }
        .download-cv-btn{
          width: 170px;
          height: 30px;
          margin-left: -20px;
        }
      .burger {
       display: block;
       
       font-size: 1.2rem;
       color: #fff;
       opacity: 1;
     }
  
     .menu-panel.active {
       right: 0;
  
     }
        
}
@media (min-width:426px) and (max-width:768px) {
  .nav-content{
    display: none;
  }
  .profile-pic {
      width: 28vw;
      height: 28vw;
      margin-bottom: 10%;
    }
  .hello h3  {
      font-size: 1rem;
    }
  #my-name{
      font-size: 2rem;
      line-height: 2rem;
  }
  .text{
      font-size: 0.8rem;
  }
  #home-content {
     padding-top: 100px;
     padding-left: 50px;
  }
     .burger {
       display: block;
       margin: 8px auto;
       font-size: 1.7rem;
       color: #fff;
       opacity: 1;
     }
  
     .menu-panel.active {
       right: 10px;
  
     }
}
@media (min-width:769px) and (max-width:1024px) {
  
    .profile-pic {
        width: 24vw;
        height: 24vw;
        margin-bottom: 10%;
      }
    .hello h3  {
      font-size: 1.3rem;
    }
    #my-name{
      font-size: 3rem;
    }
    .text{
      font-size: 1rem;
    }
      .profile-pic {
      width: 35vw;
      height: 35vw;
      margin-top: 20px;
    }
    #home-content {
      padding-top: 40px;
      padding-left: 100px;
    }
}
@media (min-width:1025px) and (max-width:1440px) {
  
  .hello{
    font-size: 1.3rem;
  }
    #my-name {
      font-size: 4rem;
      line-height: 4rem;
    }
    .text{
      font-size: 1rem;
    }
    .profile-pic {
      width: 30vw;
      height: 30vw;
      margin-top: 20px;
    }
  #home-content{
    padding-top: 100px;
    padding-left: 100px;
  }
}


/*--------------------------about------------------------------*/
.about-me {
  margin-top: 100px;
  color: white;
  text-align: center;
  font-size: 40px;
}

.about-container {
  display: grid;
  height: 65vh;
  grid-template-columns: repeat(2, 1fr);
}

#about-description {
  margin-left: 20%;
}

.about-my-name {
  color: #e9b356;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.div-about {
  display: inline-block;
}

.about-my-name {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  animation:
    typing 4s steps(25) infinite,
    curser .4s step-end infinite alternate;
}

@keyframes cursor {
  50% {
    border-color: transparent;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
}



.about-para {
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#about-pic {
  margin-right: 0%;

}

.about-pro-pic {
  width: 30vw;
  height: 25vw;
  border: #e9b356 solid 3px;
  border-radius: 70px;
}


@media screen and (min-width:0px) and (max-width:320px) {
  .about-container {
    display: grid;
    height: 40vh;
    grid-template-columns: repeat(1, 1fr);
  }

  .box {
    height: 30vh;
  }

  #about-description {
    margin: auto;
    padding: 20px;
    text-align: center;
  }

  .about-me {
    font-size: 1.5rem;
  }

  .about-my-name {
    font-size: 1rem;
  }

  .about-pic {
    margin-right: 0%;
  }

  .about-pro-pic {
    width: 150px;
    height: 150px;
    border-radius: 30px;
  }

  .about-para {
    font-size: 0.8rem;
  }
}




@media screen and (min-width:320px) and (max-width:375px) {
  .about-container {
    display: grid;
    height: 40vh;
    grid-template-columns: repeat(1, 1fr);
  }

  .box {
    height: 30vh;
  }

  #about-description {
    margin: auto;
    padding: 20px;
    text-align: center;
  }

  .about-me {
    font-size: 1.5rem;
  }

  .about-my-name {
    font-size: 1rem;
  }

  .about-pic {
    margin-right: 0%;
  }

  .about-pro-pic {
    width: 180px;
    height: 180px;
    border-radius: 30px;
  }

  .about-para {
    font-size: 0.8rem;
  }
}


@media screen and (min-width:376px) and (max-width:425px) {
  #About {
      width: 100vw;
      height: 80vh;
    }
  .about-container {
    display: grid;
    height: 40vh;
    grid-template-columns: repeat(1, 1fr);
  }

  .box {
    height: 30vh;
  }

  #about-description {
    margin: auto;
    padding: 20px;
    text-align: center;
  }

  .about-me {
    margin: 0;
    font-size: 1.6rem;
  }

  .about-my-name {
    font-size: 1rem;
  }

  .about-pic {
    margin-right: 0%;
  }

  .about-pro-pic {
    width: 150px;
    height: 150px;
    border-radius: 30px;
    margin-bottom: 18px;
  }

  .about-para {
    font-size: 0.9rem;
  }
}


@media screen and (min-width:426px) and (max-width:768px) {

  /* .about-container{
    display: grid;
    height: 40vh;
    grid-template-columns: repeat(2,1fr);
  } */
  /* .box{
    height: 30vh;
  } */
   .about-me{
    margin-top: 50px;
   }
  #about-description {
    margin: auto;
    padding: 20px;
    text-align: center;
  }

  .about-me {
    margin: 0;
    font-size: 1.8rem;
  }

  .about-my-name {
    font-size: 1.2rem;
  }

  .about-pic {
    margin-right: 0%;
  }

  .about-pro-pic {
    width: 200px;
    height: 200px;
    border-radius: 30px;
  }

  .about-para {
    font-size: 1rem;
  }
}
@media screen and (min-width:769px) and (max-width:1200px) {
  .about-me {
      font-size: 2rem;
    }
}

/*----------------------------------services---------------------------------------*/
.ser-title {
  margin-top: 100px;
  color: white;
  text-align: center;
  font-size: 40px;
  margin-bottom: 10vh;
}

.ser-container {
  display: grid;
  height: 60vh;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  margin-bottom: 3%;
}

.ser-box {
  text-align: center;
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: rgba(0, 0, 0, 0.656);
  margin: 20px;
  padding: 20px;
  border-radius: 20px;
  align-items: center;
  cursor: pointer;
}

.ser-box:hover {
  box-shadow: 0 0 30px rgba(254, 180, 43, 0.67);
}

.ser-name {
  color: #e9b356;
}
.ser-box img{
  width: 300px;
  height: 200px;
  border-radius: 10px ;
}

@media screen and (min-width:0px) and (max-width:320px) {
  .ser-container {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      height: 60vh;
      width: 60vw;
      place-items: center;
      margin-left: 50px;
  
    }
  
    .ser-title {
      font-size: 1.5rem;
      padding: 10px;
      margin-top: 80px;
      margin-bottom: 0;
    }
  
    .ser-box {
      font-size: 0.7rem;
    }
  
    .ser-box img {
      width: 150px;
      height: 100px;
      border-radius: 10px;
    }
}



@media screen and (min-width:321px) and (max-width:375px) {
  .ser-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    height: 60vh;
    width: 60vw;
    place-items: center;
    margin-left: 65px;

  }

  .ser-title {
    font-size: 1.5rem;
    padding: 10px;
    margin-top: 80px;
    margin-bottom: 0;
  }

  .ser-box {
    font-size: 0.7rem;
  }
    .ser-box img {
      width: 150px;
      height: 100px;
      border-radius: 10px;
    }
}



@media screen and (min-width:376px) and (max-width:425px) {
 
  .ser-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    height: 80vh;
    width: 40vw;
    margin-top: 8px;
    margin-bottom: 50px;
    margin-left: 25vw;

  }

  .ser-title {
    font-size: 1.5rem;
    padding: 0px;
    margin-top: 20px;
  }

  .ser-box {
    margin: 10px;
    padding: 15px;
    font-size: 0.7rem;
  }
    .ser-box img {
      width: 150px;
      height: 100px;
      border-radius: 10px;
    }
}

@media screen and (min-width:426px) and (max-width:768px) {

  .ser-title{
    margin: 0;
    font-size: 1.7rem;
  }
  .ser-container {
    margin-top: 8vh;
  }

  .ser-box h3 {

    font-size: 0.7rem;
  }
    .ser-box img {
      width: 200px;
      height: 120px;
      border-radius: 10px;
    }
}
@media screen and (min-width:769px) and (max-width:1024px) {
  .ser-title {
      font-size: 2rem;
  }
  .ser-container {
      margin-top: 8vh;
    }
  .ser-box img {
      width: 200px;
      height: 150px;
      border-radius: 10px;
    }
}

.service-title {
  margin-top: 100px;
  color: white;
  text-align: center;
  font-size: 40px;
}


/*--------------------------project----------------------------*/
.project-title{
      margin-top: 100px;
      margin-bottom: 50px;
      color: white;
      text-align: center;
      font-size: 40px;
}
.project-container{
  padding: 10px 10%;
}
.card-box{
  padding: 50px auto;
}
.box-area{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap :40px;
  margin-top: 50px;
  place-items: center;
}
.box-project{
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  box-shadow: 5px 5px 10px rgb(54, 54, 54);

}

.project-img{
  width: 100%;
  height: 260px;
  border-radius: 10px;
  display: block;
  cursor: pointer;
  transition: transform 0.5s;
  filter:brightness(70%);
}
.overlay{
  margin-top: 50PX;
  height: 0;
  width: 250px;
  background: linear-gradient(transparent,rgba(14, 13, 11, 0.644) 89%);
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 0 40px;
  font-size: 14px;
  cursor: pointer;
  transition: height 0.5s;

}
.overlay h3{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 700;
  margin-bottom: 5px;
  margin-top: 20%;
  font-size: 24px;
  color: rgb(240, 239, 233);
  margin-top: 30PX;
  
}
.project-link{
  width: 200px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  text-size-adjust: auto;
  font-size: large;
  background-color: #ececec;
  color: #04011C;
  border-radius: 10px;
  box-shadow: 0px 0px 10px grey;
}
.project-link:hover{
  background-color: #e4b86c;
  transform: scale(0.9);
}
.project-imgLhover{
  transform: scale(1.2);
}
.box-project:hover .overlay {
  color:whitesmoke;
  font-weight: 500;
  height: 100%;
  transition: ease-in-out 1.s;
  
}

@media screen and (min-width:0px) and (max-width:320px) {
  .project-title {
      font-size: 1.4rem;
    }
  
    .project-container {
      margin-top: 200px;
    }
  
    .project-img {
      width: 220px;
      height: 150px;
      border-radius: 10px;
    }
  
    .overlay {
      text-align: center;
      width: 190px;
      padding: 15px;
      padding-left: 10px;
      font-size: 12px;
    }
  
    .overlay h3 {
      margin-top: 30px;
      font-size: 15px;
    }
  
    .project-link {
      width: 100px;
      height: 20px;
      font-size: 12px;
      margin-left: 50px
    }
}
@media screen and (min-width:321px) and (max-width:375px) {
  .project-title{
    font-size: 1.4rem;
  }
  .project-container{
    margin-top: 200px;
  }
    .project-img{
    width: 220px;
    height: 150px;
    border-radius: 10px;
  }
   .overlay{
    text-align: center;
    width: 190px;
    padding: 15px;
    padding-left: 10px;
    font-size: 12px;
  }
     .overlay h3 {
       margin-top: 30px;
       font-size: 15px;
     }
  
     .project-link {
       width: 100px;
       height: 20px;
       font-size: 12px;
       margin-left: 50px
     }

}

@media screen and (min-width:376px) and (max-width:425px) {
  .project-title {
      font-size: 1.5rem;
    }
  .project-img{
    width: 220px;
    height: 150px;
    border-radius: 10px;
  }
   .overlay{
    text-align: center;
    width: 190px;
    padding: 15px;
    padding-left: 10px;
    font-size: 12px;
  }
  .overlay h3{
    margin-top: 30px;
    font-size: 15px;
  }
   .project-link{
    width: 100px;
    height: 20px;
    font-size: 12px;
    margin-left: 50px
  }
}

@media screen and (min-width:426px) and (max-width:768px){
  #my-project{
    width: 100vw;
    height: 120vh;
  }
  .project-title{
    margin: 100px;
    font-size: 1.7rem;
  }
  .box-area {
      grid-template-columns: repeat(1, 1fr);
      gap: 40px;
    }
    .project-img{
    width: 400px;
    height: 200px;
    border-radius: 10px;
  }
   .overlay{
    text-align: center;
    width: 390px;
    padding: 15px;
    padding-left: 10px;
    font-size: 15px;
  }
   .project-link{
    width: 150px;
    height: 25px;
    font-size: 15px;
    margin-left: 120px
  }
}
@media screen and (min-width:769px) and (max-width:1024px) {
  .project-title {
      font-size: 2rem;
    }
  .ser-container {
    margin-top: 8vh;
  }
  .box-area{
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
  }
  .project-img{
    width: 250px;
    height: 200px;
    border-radius: 10px;
  }
  .overlay h3{
    font-size: 20px;
  }
  .overlay{
    padding: 15px;
    font-size: 10px;
  }
  .project-link{
    width: 150px;
    height: 25px;
    font-size: 15px;
    padding-left: 10px;
  }
}

/*------------------------contact---------------------------------*/
 .contact-container {
   display: grid;
   height: 70vh;
   grid-template-columns: repeat(2, 1fr);
 }
 .contact-title{
    margin-top: 80px;
      margin-bottom: 50px;
      color: white;
      text-align: center;
      font-size: 40px;
 }
 .contact-box {
   display: flex;
   flex-direction: column;
   padding: 10px;
   justify-content: center;
   align-items: center;
 }

 .message-box {
   width: 30vw;
   height: 50vh;
   border-radius: 20px;
   padding: 20px;
   display: flex;
   flex-direction: column;
   box-shadow: 0 0 10px rgba(128, 124, 124, 0.67);
   background-color: rgb(37, 35, 35);
   color: #e4b86c;

   & p {
     text-align: center;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   }

   /* margin:100px auto; */
 }
 input {
   width: 100%;
 }

 textarea {
   width: 100%;
   height: 150px;
 }

 .submit-btn {
   margin-top: 20px;
   width: 100%;
   height: 40px;
   background-color: #e9b356;
   border: 0;
   border-radius: 5px;
   color: rgb(0, 0, 0);
   font-size: 1em;
   cursor: pointer;
 }

#cobtact-desc{
  color: #fff;
  & i{
    font-size: 3rem;
  } & p{
    font-size: 1rem;
  }
}


  

 @media screen and (min-width:0px) and (max-width:320px) {
  .contact-title {
      margin-top: 200px;
      margin-bottom: 50px;
      color: white;
      text-align: center;
      font-size:1rem;
    }
   .contact-container {
     display: grid;
     width: 100vw;
     height: 80vh;
     grid-template-columns: repeat(1, 1fr);
   }

   .message-box {
     width: 70vw;
     height: 50vh;
     border-radius: 20px;
     padding: 10px;
     display: flex;
     flex-direction: column;
     box-shadow: 0 0 10px rgba(128, 128, 128, 0.67);
     background-color: rgba(255, 255, 255, 0.175);
     color: #e9b356;

     & p {
       text-align: center;
       font-size: 0.8rem;
     }

     /* margin:10px auto; */
   }

   h3 {
     font-size: 0.6rem;
   }

   input {
     width: 100%;
   }

   textarea {
     width: 100%;
     height: 150px;
   }

   #contact-form {
     margin: auto;
     height: 30vh;
   }

   .contact-box {
     display: flex;
     flex-direction: column;
     padding: 10px;
     justify-content: center;
     align-items: center;
   }
     #cobtact-desc {
       color: #fff;
  
       & i {
         font-size: 1rem;
       }
      }
 }



 @media screen and (min-width:320px) and (max-width:375px) {
   .contact-container {
     display: grid;
     width: 100vw;
     height: 80vh;
     grid-template-columns: repeat(1, 1fr);
   }

   .message-box {
     width: 70vw;
     height: 40vh;
     border-radius: 20px;
     padding: 10px;
     display: flex;
     flex-direction: column;
     box-shadow: 0 0 10px rgba(128, 128, 128, 0.67);
     background-color: rgba(255, 255, 255, 0.175);
     color: #00FFE0;

     & p {
       text-align: center;
        font-size: 0.8rem;
     }

     /* margin:10px auto; */
   }

   h3 {
     font-size: 0.6rem;
   }

   input {
     width: 100%;
   }

   textarea {
     width: 100%;
     height: 150px;
   }

   #contact-form {
     margin: auto;
     height: 30vh;
   }

   #cobtact-desc {
     height: 30vh;
   }

   #cobtact-desc {
     margin: auto;
     width: 80vw;
     height: 40vh;
     text-align: center;

     & p {
       font-size: 0.8rem;
     }
   }

   .submit-btn {
     font-size: 0.8rem;
   }

   .contact-box {
     display: flex;
     flex-direction: column;
     padding: 10px;
     justify-content: center;
     align-items: center;
   }
     #cobtact-desc {
       color: #fff;
  
       & i {
         font-size: 1.2rem;
       }
      }
 }




 @media screen and (min-width:375px) and (max-width:425px) {

  .contact-title {
      margin-top: 200px;
      margin-bottom: 50px;
      color: white;
      text-align: center;
      font-size: 1.2rem;
    }
   .contact-container {
     display: grid;
     width: 100vw;
     height: 70vh;
     grid-template-columns: repeat(1, 1fr);
   }

   .message-box {
     width: 70vw;
     height: 40vh;
     border-radius: 20px;
     padding: 10px;
     display: flex;
     flex-direction: column;
     box-shadow: 0 0 10px rgba(128, 128, 128, 0.67);
     background-color: rgba(255, 255, 255, 0.175);
     color: #e9b356;

     & p {
       text-align: center;
       font-size: 0.8rem;
     }

     /* margin:10px auto; */
   }

   h3 {
     font-size: 0.8rem;
   }

   input {
     width: 100%;
   }

   textarea {
     width: 100%;
     height: 150px;
   }

   #contact-form {
     margin: auto;
     height: 30vh;
   }

   .submit-btn {
     font-size: 0.8rem;
   }

   .contact-box {
     display: flex;
     flex-direction: column;
     padding: 10px;
     justify-content: center;
     align-items: center;
   }
     #cobtact-desc {
       color: #fff;
      & p{
        font-size: 0.6rem;
      }
       & i {
         font-size: 1.5rem;
       }
      }

 }



 @media screen and (min-width:426px) and (max-width:768px) {
  .contact-title{
    margin-top: 400px ;
    font-size: 1.7rem;
    
  }
   .contact-container {
     display: grid;
     width: 100vw;
     height: 60vh;
     grid-template-columns: repeat(1, 1fr);
   }
   #cobtact{
    margin-top: 100px;
   }
   #cobtact-desc p {
    font-size: 0.7rem;
    color: #fff;
   }
        .contact-box {
          display: flex;
          flex-direction: column;
          padding: 10px;
          justify-content: center;
          align-items: center;
        }
   .message-box {
     width: 40vw;
     height: 45vh;
     border-radius: 20px;
     padding: 10px;
     display: flex;
     flex-direction: column;
     box-shadow: 0 0 10px rgba(128, 128, 128, 0.67);
     background-color: rgba(255, 255, 255, 0.175);
     color: #e9b356;
    margin-top: 20px;
     & p {
       font-size: 0.9rem;
       color: #ffffff;
     }

     /* margin:10px auto; */
   }

   h3 {
     font-size: 0.9rem;
     color: #fff;
   }

   input {
     width: 100%;
   }

   textarea {
     width: 100%;
     height: 150px;
   }

   #contact-form {
     margin: auto;
     height: 30vh;
   }

   .submit-btn {
     font-size: 0.8rem;
   }
     #cobtact-desc {
      width: 90vw;
      margin-top: 50px;
       color: #fff;
  
       & i {
         font-size: 2rem;
       } & p{
        font-size: 0.7rem;
       } 
      }
 } 
 
@media screen and (min-width:769px) and (max-width:1024px) {
  .contact-title {
      font-size: 2rem;
  }
  #cobtact-desc {
      color: #fff;
  
      & i {
        font-size: 2rem;
      }& p {
        font-size: 0.8rem;
      }
    }
       .message-box {
     width: 40vw;
     height: 60vh;
     border-radius: 20px;
     padding: 10px;
     display: flex;
     flex-direction: column;
     box-shadow: 0 0 10px rgba(128, 128, 128, 0.67);
     background-color: rgba(255, 255, 255, 0.175);
     color: #e9b356;
       }
      textarea {
     width: 100%;
     height: 150px;
   }

}
 /* -------------------footer--------------------- */

 footer {
  width: 100vw;
  height: 30vh;
  margin-top: 20px;
  /* margin-top: 350px; */
   background-color: #44351f;
   color: #fff;
 }

 footer .section__container {
   display: grid;
   gap: 1.5rem;
   text-align: center;
 }

 footer h4 {
   font-size: 1.3rem;
   font-weight: 500;
 }

 .social__icons {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 1rem;
 }

 .social__icons i {
   padding: 5px;
   font-size: 1.2rem;
   cursor: pointer;
 }

 footer p {
   font-style: italic;
 }
    @media screen and (min-width:0px) and (max-width:325px) {
      footer {
          margin-top: 120px;
        }
        #rigth-reserved {
          font-size: 0.8rem;
        }
    }
  @media screen and (min-width:375px) and (max-width:425px) {
      footer {
          margin-top: 100px;
          
        }
        #rigth-reserved {
          font-size: 1rem;
        }
    }
 @media screen and (min-width:426px) and (max-width:768px) {
      footer {
        margin-top: 320px;
      }
       #rigth-reserved {
          font-size: 1rem;
        }
    }

 @media screen and (min-width:769px) and (max-width:1024px) {
  footer{
    margin-top: 100px;
  }
   #rigth-reserved {
          font-size: 1rem;
        }
 }